<!DOCTYPE html>
<html>
<head>
    <title>Jdenticon ASP.NET MVC and WebApi sample</title>
</head>
<body>
    <h1>Jdenticon</h1>

    <p>This is a sample illustrating how Jdenticon can be used in ASP.NET MVC and WebApi environments.</p>
</body>
</html>