


/* Style adjustments for websites */
.pageBody {
	padding: 0px 20px 0px 0px;
}
.topicContent {
	margin-left: 280px;
}

/* Lightweight TOC */
.tocCollapsed {
	background: url('../icons/TocCollapsed.gif') no-repeat scroll center;
	width: 17px;
	height: 20px;
	overflow: hidden;
}
.tocExpanded {
	background: url('../icons/TocExpanded.gif') no-repeat scroll center;
	width: 17px;
	height: 20px;
	overflow: hidden;
}
.tocResize {
	position: absolute;
	top: 90px;
	left: 300px;
	width: 5px;
	height: 20px;
	padding-right: 5px;
}
.tocResize img {
	border: none;
	cursor: pointer;
}
div#leftNav {
	float: left;
	margin: 20px -1px 0 0;
	width: 280px;
	min-height: 10px;
	position: relative;
	border-right: 1px solid #fff;
	padding-left: 10px;
	padding-top: 15px;
}
div#tocNav {
	font-family: "Source Sans Pro", 'Segoe UI' ,Verdana,Arial;
	overflow-x: hidden;
	line-height: normal;
	margin: -10px 0 0 -4px;
}
div#tocNav > div {
	overflow-x: hidden;
	white-space: normal;
	width: auto;
	margin-bottom: 5px;
}
div#leftNav a, div#leftNav a:link, div#leftNav a:visited {
	color: #e843af;
	text-decoration: none;
}
div#leftNav a:hover {
	color: #e843af;
	text-decoration: underline;
}
div#tocNav > div > a, div#tocNav > div > a:link, div#tocNav > div > a:visited {
	display: block;
	margin-left: 18px;
	overflow: hidden;
	text-indent: -0.5em;
	padding-left: 0.5em;
}
div#tocNav > div.current > a, div#tocNav > div.current > a:link, div#tocNav > div.current > a:visited {
	color: #000;
	font-weight: 600;
	text-decoration: none;
}
div#tocNav > div > a.tocExpanded, div#tocNav > div > a.tocCollapsed {
	float: left;
	display: inline-block;
	margin-left: 0;
	vertical-align: top;
}
div#tocResizableEW {
	cursor: e-resize;
	width: 15px;
	top: 0;
	height: 100%;
	position: absolute;
	display: block;
	font-size: 0.5px;
	right: -7px;
}
.toclevel0:first-child {
	margin-top: 16px;
}
div#tocNav > div.toclevel1 {
	padding-left: 17px;
}
div#tocNav > div.toclevel2 {
	padding-left: 34px;
}
div#tocNav > div.toclevel3 {
	padding-left: 51px;
}
div#tocNav > div.toclevel4 {
	padding-left: 68px;
}
div#tocNav > div.toclevel5 {
	padding-left: 85px;
}
div#tocNav > div.toclevel6 {
	padding-left: 102px;
}
div#tocNav > div.toclevel7 {
	padding-left: 119px;
}
div#tocNav > div.toclevel8 {
	padding-left: 136px;
}
div#tocNav > div.toclevel9 {
	padding-left: 153px;
}
div#tocNav > div.toclevel10 {
	padding-left: 170px;
}

/* Search form */
form#SearchForm {
	float: right;
	background-color: #eee;
	width: 280px;
	margin-top: -2px;
}
form#SearchForm input {
	background-color: #eee;
	border: 0;
	height: 22px;
	width: 230px;
	color: #3b3b3b;
	display: inline-block;
	margin: 1px 0 0 0;
	padding: 1px 4px 1px 10px;
}
form#SearchForm button {
	background: url('../icons/Search.png') no-repeat scroll center;
	background-color: #eee;
	float: right;
	border: 0;
	margin: 3px 2px 0 0;
	cursor: pointer;
	color: #3b3b3b;
	width: 19px;
	height: 18px;
	overflow: hidden;
}
.searchContainer {
	width: 700px;
	margin-top: 50px;
	margin-left: auto;
	margin-right: auto;
}


.tocResize {
display: none;
}
















/*********************************
 * Navigation
 */
body 
{
    padding-top: 5em;
}
 
nav
{
    line-height: 4em;
    display: block;
    text-align: left;
    
    background: #222;
    
    background: rgba(0,0,0,0.85);
    color: white;
    
    z-index: 10;
    
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
}

nav .mobile
{
    display: none;
}

nav h2 a,
nav h2 a:link,
nav h2 a:visited,
nav h2 a:active
{
    color: white;
}

nav h2 a:hover
{
    text-decoration: none;
}

nav .wrapper
{
    position: relative;
}

nav ul
{
    margin: 0;
    padding: 0;
    list-style: none;
    display: inline;
    
    font: 1em 'Source Sans Pro';
    text-transform: uppercase;
}

nav>div>ul {
    position: absolute;
    top: 0;
    right: 0.7em;
}

nav ul ul 
{
    text-transform: none;
    margin-right: 1em;
}

nav li.active ul  {
  display: inline;
}

nav ul a,
nav ul a:link,
nav ul a:visited,
nav ul a:active,
nav ul span
{
    color: #ef83c9;
    text-decoration: none;
}

nav ul ul a,
nav ul ul a:link,
nav ul ul a:visited,
nav ul ul a:active
{
    color: #fff;
}

nav li
{
    margin: 0;
    padding: 0;
    display: inline;
    
    position: relative;
}

nav ul a,
nav ul a:link,
nav ul span
{
    display: inline-block;
    padding: 0 0.65em;
    position: relative;
    padding: 0 0.5em;
    line-height: 4em;
}

nav ul span
{
    cursor: default;
}

nav ul ul a:hover
{
    text-decoration: underline;
}

nav a.current:before
{
    content: "";
    position: absolute;
    bottom: 0;
    left: 0.5em;
    right: 0.5em;
    height: 3px;
    background: #ef83c9;
}


nav h2:before
{
    content: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAYCAMAAADXqc3KAAAALVBMVEUAAADdiLvYh7zWhrrXhLrXhbvXhbrXhbnXhbrXhbr/////////////qqr/gIAzY6IgAAAAD3RSTlMAD0hKcpnFxuX///s8AwJfjXD+AAAAeklEQVR4XoWSWQoAMQhDtfvq/Y87ox0KQyjNZx5oGktbHEuJTKCZ66s8Afhq8gDCAgGAW8ABkKQgyQaYCjXGP6cPTszv3Yi44CcRZx3N6remhHVZZopVFc1Xso1ioJhv5DOO4DjquPwUFx94qwRLvNWOh7qdFj/DNdUDHm4IoV3PU48AAAAASUVORK5CYII=);
    display: inline-block;
    vertical-align: -6%;
    margin-right: 0.4em;
}

nav h2
{
    font-weight: bold;
    text-transform: uppercase;
    padding: 0;
    
    margin: 0 1em 0 0.8em;
    font-size: 1.3em;
    display: inline-block;
}